* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: white;
}

#container, #game {
    display: flex;
    background-color: white;
    height: 100%;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

header {
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 0 20px; 
    border-bottom: 1px solid #d3d3d3;
}

.title {
    color: #333333;
    font-size: 2.5rem;
    margin: 0.4rem 0;
    text-align: center;
    width: 130%;
    padding-left: 150px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1px !important;
    font-weight: 700;
}

#board-container, #board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.square {
    border: 2px solid #d3d3d3;
    min-width: 60px;
    min-height: 60px;
    font-size: 50px;
    font-weight: bold;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#keyboard-container {
    height: 200px;
    flex-shrink: 0;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 8px;
}

.keyboard-row button {
    font-family: inherit;
    font-weight: bold;
    border: 1px solid #d3d3d3;
    padding: 0;
    height: 58px;
    cursor: pointer;
    background-color: #cbcbcf;
    flex-grow: 1;
    text-transform: uppercase;
    margin-right: 6px;
    border-radius: 4px;
    user-select: none;
    font-size: 20px;
    width: 35px;

}

.keyboard-row button.wide-button {
    flex-grow: 2.5;
    width: 75px;
    font-size: 12px !important;
}

.spacer-half {
    flex-grow: 1.5;
}

.reload-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 34px;
    padding: 5px;
    border-radius: 50%;
    transition: transform 0.3s;
    padding-right: 25px ;
    background-color: white;
}

.reload-icon:hover {
    transform: rotate(360deg);
}

#reloadButton {
    background-color: white;
}

#word {
    margin-right: 15px;
    font-size: 15px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 7px;
    background-color: #B7D1E2;
    width: 120px;
    height: 30px;
    font-family: 'Helvetica-Nue';
    font-weight: 800;

} 

/* IMPROVED CSS FOR MOBILE WEB */



/* Responsive adjustments */
@media (max-width: 768px) {
    .title {
        font-size: 5vw; /* Adjust based on your title's scaling preference */
    }

    .square {
        width: 12%; /* Assuming you have 8 squares in a row, adjust as needed */
        height: 0; /* Used to maintain the aspect ratio */
        padding-bottom: 12%; /* Same as width to maintain the square aspect ratio */
        font-size: 10vw; /* Scales the text within the squares */
    }

    .keyboard-row button {
        width: auto%; /* Assuming there are 10 buttons in a row, adjust as needed */
        height: auto; /* Scales the height automatically based on the width */
        padding: 1vw; /* Provides padding that scales with the viewport width */
        font-size: 3vw; /* Scales the button text based on viewport width */
        color: black;
    }

    #word {
        width: 30%;
        font-size: 2vw;
    }

    /* You can add additional styling for other elements as needed to maintain the aspect ratio */
    /* Adjust the percentage values and viewport units to fit your design */
}

